In [1]:
import random
def get_score()->list:
    score = []
    for i in range(5):
        score.append(random.randint(50,100))
    return score

def get_names(nums:int)->list:
    with open('names.txt',encoding='utf-8',newline='') as file:
        names_str = file.read()
        all_names_list = names_str.split(sep='\n')
        names_list = random.choices(all_names_list,k=nums) #取出一定數量的姓名
    return names_list

nums_int = int(input("請輸入學生數:"))
#取得nums_int個姓名
names_list = get_names(nums_int)
students = []
for i in range(nums_int):
    scores = get_score()
    new_list = [names_list[i]] + scores
    students.append(new_list)
students

[['劉嘉泰', 80, 56, 78, 64, 97],
 ['陳淑娟', 83, 96, 83, 89, 62],
 ['羅佩樺', 51, 66, 87, 68, 100],
 ['張天亨', 90, 72, 74, 69, 93],
 ['陳向愛', 88, 60, 92, 74, 86],
 ['吳柏誠', 50, 69, 66, 65, 78],
 ['劉萬季', 56, 64, 68, 75, 100],
 ['馮耀中', 68, 98, 70, 87, 67],
 ['劉旭士', 60, 100, 78, 86, 55],
 ['陳俊憲', 53, 61, 68, 63, 73],
 ['張明惟', 83, 88, 52, 88, 58],
 ['陳樂紫', 80, 86, 62, 63, 60],
 ['吳淑惠', 95, 85, 83, 78, 58],
 ['陳信宏', 60, 86, 70, 77, 51],
 ['翁鈺婷', 87, 64, 61, 79, 100],
 ['劉嘉泰', 92, 70, 87, 64, 89],
 ['張伊映', 86, 91, 66, 94, 55],
 ['陳倩潔', 94, 82, 60, 71, 80],
 ['王品星', 88, 54, 54, 60, 58],
 ['陳俊憲', 74, 83, 83, 62, 70]]

In [2]:
import pandas as pd

students_df = pd.DataFrame(students,columns=['姓名','國文','英文','數學','地理','歷史'],index=range(1,nums_int+1))
students_df

     姓名  國文   英文  數學  地理   歷史
1   劉嘉泰  80   56  78  64   97
2   陳淑娟  83   96  83  89   62
3   羅佩樺  51   66  87  68  100
4   張天亨  90   72  74  69   93
5   陳向愛  88   60  92  74   86
6   吳柏誠  50   69  66  65   78
7   劉萬季  56   64  68  75  100
8   馮耀中  68   98  70  87   67
9   劉旭士  60  100  78  86   55
10  陳俊憲  53   61  68  63   73
11  張明惟  83   88  52  88   58
12  陳樂紫  80   86  62  63   60
13  吳淑惠  95   85  83  78   58
14  陳信宏  60   86  70  77   51
15  翁鈺婷  87   64  61  79  100
16  劉嘉泰  92   70  87  64   89
17  張伊映  86   91  66  94   55
18  陳倩潔  94   82  60  71   80
19  王品星  88   54  54  60   58
20  陳俊憲  74   83  83  62   70

In [3]:
students_df.head(n=3)

    姓名  國文  英文  數學  地理   歷史
1  劉嘉泰  80  56  78  64   97
2  陳淑娟  83  96  83  89   62
3  羅佩樺  51  66  87  68  100

In [4]:
students_df.tail(n=3)

     姓名  國文  英文  數學  地理  歷史
18  陳倩潔  94  82  60  71  80
19  王品星  88  54  54  60  58
20  陳俊憲  74  83  83  62  70

In [5]:
students_df.index.name = '學號'
students_df.columns.name = '科目'
students_df

科目   姓名  國文   英文  數學  地理   歷史
學號
1   劉嘉泰  80   56  78  64   97
2   陳淑娟  83   96  83  89   62
3   羅佩樺  51   66  87  68  100
4   張天亨  90   72  74  69   93
5   陳向愛  88   60  92  74   86
6   吳柏誠  50   69  66  65   78
7   劉萬季  56   64  68  75  100
8   馮耀中  68   98  70  87   67
9   劉旭士  60  100  78  86   55
10  陳俊憲  53   61  68  63   73
11  張明惟  83   88  52  88   58
12  陳樂紫  80   86  62  63   60
13  吳淑惠  95   85  83  78   58
14  陳信宏  60   86  70  77   51
15  翁鈺婷  87   64  61  79  100
16  劉嘉泰  92   70  87  64   89
17  張伊映  86   91  66  94   55
18  陳倩潔  94   82  60  71   80
19  王品星  88   54  54  60   58
20  陳俊憲  74   83  83  62   70

In [6]:
sum_series = students_df['國文'] + students_df['英文'] + students_df['數學'] + students_df['地理'] + students_df['歷史']
sum_series

學號
1     375
2     413
3     372
4     398
5     400
6     328
7     363
8     390
9     379
10    318
11    369
12    351
13    399
14    344
15    391
16    402
17    392
18    387
19    314
20    372
dtype: int64

In [7]:
students_df['總分'] = sum_series
students_df['平均'] = sum_series / 5.0
students_df

科目   姓名  國文   英文  數學  地理   歷史   總分    平均
學號
1   劉嘉泰  80   56  78  64   97  375  75.0
2   陳淑娟  83   96  83  89   62  413  82.6
3   羅佩樺  51   66  87  68  100  372  74.4
4   張天亨  90   72  74  69   93  398  79.6
5   陳向愛  88   60  92  74   86  400  80.0
6   吳柏誠  50   69  66  65   78  328  65.6
7   劉萬季  56   64  68  75  100  363  72.6
8   馮耀中  68   98  70  87   67  390  78.0
9   劉旭士  60  100  78  86   55  379  75.8
10  陳俊憲  53   61  68  63   73  318  63.6
11  張明惟  83   88  52  88   58  369  73.8
12  陳樂紫  80   86  62  63   60  351  70.2
13  吳淑惠  95   85  83  78   58  399  79.8
14  陳信宏  60   86  70  77   51  344  68.8
15  翁鈺婷  87   64  61  79  100  391  78.2
16  劉嘉泰  92   70  87  64   89  402  80.4
17  張伊映  86   91  66  94   55  392  78.4
18  陳倩潔  94   82  60  71   80  387  77.4
19  王品星  88   54  54  60   58  314  62.8
20  陳俊憲  74   83  83  62   70  372  74.4

In [8]:
students_df.to_csv('學生成績.csv')