In [8]:
import pandas as pd
df = pd.read_csv('學生成績.csv')
df
#dataFrame,依值使用subscript搜尋
#國文及格
df[df['國文'] >= 60]

    學號   姓名  國文   英文  數學  地理   歷史   總分    平均
0    1  劉嘉泰  80   56  78  64   97  375  75.0
1    2  陳淑娟  83   96  83  89   62  413  82.6
3    4  張天亨  90   72  74  69   93  398  79.6
4    5  陳向愛  88   60  92  74   86  400  80.0
7    8  馮耀中  68   98  70  87   67  390  78.0
8    9  劉旭士  60  100  78  86   55  379  75.8
10  11  張明惟  83   88  52  88   58  369  73.8
11  12  陳樂紫  80   86  62  63   60  351  70.2
12  13  吳淑惠  95   85  83  78   58  399  79.8
13  14  陳信宏  60   86  70  77   51  344  68.8
14  15  翁鈺婷  87   64  61  79  100  391  78.2
15  16  劉嘉泰  92   70  87  64   89  402  80.4
16  17  張伊映  86   91  66  94   55  392  78.4
17  18  陳倩潔  94   82  60  71   80  387  77.4
18  19  王品星  88   54  54  60   58  314  62.8
19  20  陳俊憲  74   83  83  62   70  372  74.4

In [9]:
#歷史不及格
df[df['歷史'] < 60]

    學號   姓名  國文   英文  數學  地理  歷史   總分    平均
8    9  劉旭士  60  100  78  86  55  379  75.8
10  11  張明惟  83   88  52  88  58  369  73.8
12  13  吳淑惠  95   85  83  78  58  399  79.8
13  14  陳信宏  60   86  70  77  51  344  68.8
16  17  張伊映  86   91  66  94  55  392  78.4
18  19  王品星  88   54  54  60  58  314  62.8

In [10]:
#國文及格同時歷史不及格

df[(df['國文'] >= 60) & (df['歷史'] < 60)]

    學號   姓名  國文   英文  數學  地理  歷史   總分    平均
8    9  劉旭士  60  100  78  86  55  379  75.8
10  11  張明惟  83   88  52  88  58  369  73.8
12  13  吳淑惠  95   85  83  78  58  399  79.8
13  14  陳信宏  60   86  70  77  51  344  68.8
16  17  張伊映  86   91  66  94  55  392  78.4
18  19  王品星  88   54  54  60  58  314  62.8

In [11]:
#全部及格

df[(df['國文'] >= 60) & (df['英文'] >= 60) & (df['數學'] >= 60) & (df['地理'] >= 60) & (df['歷史'] >= 60) ]

    學號   姓名  國文  英文  數學  地理   歷史   總分    平均
1    2  陳淑娟  83  96  83  89   62  413  82.6
3    4  張天亨  90  72  74  69   93  398  79.6
4    5  陳向愛  88  60  92  74   86  400  80.0
7    8  馮耀中  68  98  70  87   67  390  78.0
11  12  陳樂紫  80  86  62  63   60  351  70.2
14  15  翁鈺婷  87  64  61  79  100  391  78.2
15  16  劉嘉泰  92  70  87  64   89  402  80.4
17  18  陳倩潔  94  82  60  71   80  387  77.4
19  20  陳俊憲  74  83  83  62   70  372  74.4

In [12]:
#平均80分以上的同學
df[df['平均'] >= 80]

    學號   姓名  國文  英文  數學  地理  歷史   總分    平均
1    2  陳淑娟  83  96  83  89  62  413  82.6
4    5  陳向愛  88  60  92  74  86  400  80.0
15  16  劉嘉泰  92  70  87  64  89  402  80.4

In [13]:
#國文不及格 或 英文不及格
df[(df['國文'] < 60) | (df['英文'] < 60)]

    學號   姓名  國文  英文  數學  地理   歷史   總分    平均
0    1  劉嘉泰  80  56  78  64   97  375  75.0
2    3  羅佩樺  51  66  87  68  100  372  74.4
5    6  吳柏誠  50  69  66  65   78  328  65.6
6    7  劉萬季  56  64  68  75  100  363  72.6
9   10  陳俊憲  53  61  68  63   73  318  63.6
18  19  王品星  88  54  54  60   58  314  62.8