In [2]:
import numpy as np
import pandas as pd

frame = pd.read_excel('學生成績單.xlsx')
frame

    學號   姓名  國文   英文  數學  地理   歷史   總分    平均  排名
0    2  陳淑娟  83   96  83  89   62  413  82.6   1
1   16  劉嘉泰  92   70  87  64   89  402  80.4   2
2    5  陳向愛  88   60  92  74   86  400  80.0   3
3   13  吳淑惠  95   85  83  78   58  399  79.8   4
4    4  張天亨  90   72  74  69   93  398  79.6   5
5   17  張伊映  86   91  66  94   55  392  78.4   6
6   15  翁鈺婷  87   64  61  79  100  391  78.2   7
7    8  馮耀中  68   98  70  87   67  390  78.0   8
8   18  陳倩潔  94   82  60  71   80  387  77.4   9
9    9  劉旭士  60  100  78  86   55  379  75.8  10
10   1  劉嘉泰  80   56  78  64   97  375  75.0  11
11  20  陳俊憲  74   83  83  62   70  372  74.4  12
12   3  羅佩樺  51   66  87  68  100  372  74.4  12
13  11  張明惟  83   88  52  88   58  369  73.8  14
14   7  劉萬季  56   64  68  75  100  363  72.6  15
15  12  陳樂紫  80   86  62  63   60  351  70.2  16
16  14  陳信宏  60   86  70  77   51  344  68.8  17
17   6  吳柏誠  50   69  66  65   78  328  65.6  18
18  10  陳俊憲  53   61  68  63   73  318  63.6  19
19  19  王品星  88   54  54  60   58  314  62.8  20

In [3]:
students_frame = frame[["國文","英文","數學","地理","歷史"]]
students_frame

    國文   英文  數學  地理   歷史
0   83   96  83  89   62
1   92   70  87  64   89
2   88   60  92  74   86
3   95   85  83  78   58
4   90   72  74  69   93
5   86   91  66  94   55
6   87   64  61  79  100
7   68   98  70  87   67
8   94   82  60  71   80
9   60  100  78  86   55
10  80   56  78  64   97
11  74   83  83  62   70
12  51   66  87  68  100
13  83   88  52  88   58
14  56   64  68  75  100
15  80   86  62  63   60
16  60   86  70  77   51
17  50   69  66  65   78
18  53   61  68  63   73
19  88   54  54  60   58

In [4]:
#mean(),std(),max(),min(),median()中位數,corr()相關係數
students_frame['國文'].mean()

75.9

In [5]:
students_frame.mean()

國文    75.90
英文    76.55
數學    72.10
地理    73.80
歷史    74.50
dtype: float64

In [6]:
students_frame.mean(axis=1) #axis=1算一列的平均 預設axis=0是算一行的平均

0     82.6
1     80.4
2     80.0
3     79.8
4     79.6
5     78.4
6     78.2
7     78.0
8     77.4
9     75.8
10    75.0
11    74.4
12    74.4
13    73.8
14    72.6
15    70.2
16    68.8
17    65.6
18    63.6
19    62.8
dtype: float64

In [7]:
display(students_frame['國文'])
for item in students_frame['國文']:
    if item >= 80:
        print('優')
    elif item >= 70:
        print('甲')
    elif item >= 60:
        print('乙')
    else:
        print('丙')

0     83
1     92
2     88
3     95
4     90
5     86
6     87
7     68
8     94
9     60
10    80
11    74
12    51
13    83
14    56
15    80
16    60
17    50
18    53
19    88
Name: 國文, dtype: int64

優
優
優
優
優
優
優
乙
優
乙
優
甲
丙
優
丙
優
乙
丙
丙
優

In [8]:
def fun1(item):
    if item >= 80:
        return '優'
    elif item >= 70:
        return '甲'
    elif item >= 60:
        return '乙'
    else:
        return '丙'
    
students_frame['國文'].map(fun1)

0     優
1     優
2     優
3     優
4     優
5     優
6     優
7     乙
8     優
9     乙
10    優
11    甲
12    丙
13    優
14    丙
15    優
16    乙
17    丙
18    丙
19    優
Name: 國文, dtype: object

In [9]:
students_frame['國文等級'] = students_frame['國文'].map(fun1)
students_frame

/tmp/ipykernel_334/2974217727.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  students_frame['國文等級'] = students_frame['國文'].map(fun1)

    國文   英文  數學  地理   歷史 國文等級
0   83   96  83  89   62    優
1   92   70  87  64   89    優
2   88   60  92  74   86    優
3   95   85  83  78   58    優
4   90   72  74  69   93    優
5   86   91  66  94   55    優
6   87   64  61  79  100    優
7   68   98  70  87   67    乙
8   94   82  60  71   80    優
9   60  100  78  86   55    乙
10  80   56  78  64   97    優
11  74   83  83  62   70    甲
12  51   66  87  68  100    丙
13  83   88  52  88   58    優
14  56   64  68  75  100    丙
15  80   86  62  63   60    優
16  60   86  70  77   51    乙
17  50   69  66  65   78    丙
18  53   61  68  63   73    丙
19  88   54  54  60   58    優

In [10]:
students_frame = frame[["國文","英文","數學","地理","歷史"]]
students_frame

    國文   英文  數學  地理   歷史
0   83   96  83  89   62
1   92   70  87  64   89
2   88   60  92  74   86
3   95   85  83  78   58
4   90   72  74  69   93
5   86   91  66  94   55
6   87   64  61  79  100
7   68   98  70  87   67
8   94   82  60  71   80
9   60  100  78  86   55
10  80   56  78  64   97
11  74   83  83  62   70
12  51   66  87  68  100
13  83   88  52  88   58
14  56   64  68  75  100
15  80   86  62  63   60
16  60   86  70  77   51
17  50   69  66  65   78
18  53   61  68  63   73
19  88   54  54  60   58

In [11]:
def fun1(item):
    if item >= 80:
        return '優'
    elif item >= 70:
        return '甲'
    elif item >= 60:
        return '乙'
    else:
        return '丙'
students_frame.map(fun1)

   國文 英文 數學 地理 歷史
0   優  優  優  優  乙
1   優  甲  優  乙  優
2   優  乙  優  甲  優
3   優  優  優  甲  丙
4   優  甲  甲  乙  優
5   優  優  乙  優  丙
6   優  乙  乙  甲  優
7   乙  優  甲  優  乙
8   優  優  乙  甲  優
9   乙  優  甲  優  丙
10  優  丙  甲  乙  優
11  甲  優  優  乙  甲
12  丙  乙  優  乙  優
13  優  優  丙  優  丙
14  丙  乙  乙  甲  優
15  優  優  乙  乙  乙
16  乙  優  甲  甲  丙
17  丙  乙  乙  乙  甲
18  丙  乙  乙  乙  甲
19  優  丙  丙  乙  丙

In [12]:
students_frame

    國文   英文  數學  地理   歷史
0   83   96  83  89   62
1   92   70  87  64   89
2   88   60  92  74   86
3   95   85  83  78   58
4   90   72  74  69   93
5   86   91  66  94   55
6   87   64  61  79  100
7   68   98  70  87   67
8   94   82  60  71   80
9   60  100  78  86   55
10  80   56  78  64   97
11  74   83  83  62   70
12  51   66  87  68  100
13  83   88  52  88   58
14  56   64  68  75  100
15  80   86  62  63   60
16  60   86  70  77   51
17  50   69  66  65   78
18  53   61  68  63   73
19  88   54  54  60   58

In [13]:
def fun2(s):
    return s.min()

students_frame.apply(fun2)

國文    50
英文    54
數學    52
地理    60
歷史    51
dtype: int64

In [14]:
students_frame.apply(fun2,axis=1)

0     62
1     64
2     60
3     58
4     69
5     55
6     61
7     67
8     60
9     55
10    56
11    62
12    51
13    52
14    56
15    60
16    51
17    50
18    53
19    54
dtype: int64

In [15]:
def fun3(s):
    return s[s < 60].count() #count()計算個數
students_frame.apply(fun3,axis=1)

0     0
1     0
2     0
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    0
12    1
13    2
14    1
15    0
16    1
17    1
18    1
19    3
dtype: int64

In [19]:
students_frame['不及格科目數量'] = students_frame.apply(fun3,axis=1)
students_frame

/tmp/ipykernel_334/2979982254.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  students_frame['不及格科目數量'] = students_frame.apply(fun3,axis=1)

    國文   英文  數學  地理   歷史  不及格科目數量
0   83   96  83  89   62        0
1   92   70  87  64   89        0
2   88   60  92  74   86        0
3   95   85  83  78   58        1
4   90   72  74  69   93        0
5   86   91  66  94   55        1
6   87   64  61  79  100        0
7   68   98  70  87   67        0
8   94   82  60  71   80        0
9   60  100  78  86   55        1
10  80   56  78  64   97        1
11  74   83  83  62   70        0
12  51   66  87  68  100        1
13  83   88  52  88   58        2
14  56   64  68  75  100        1
15  80   86  62  63   60        0
16  60   86  70  77   51        1
17  50   69  66  65   78        1
18  53   61  68  63   73        1
19  88   54  54  60   58        3

In [17]:
students_frame = frame[["國文","英文","數學","地理","歷史"]]
students_frame

    國文   英文  數學  地理   歷史
0   83   96  83  89   62
1   92   70  87  64   89
2   88   60  92  74   86
3   95   85  83  78   58
4   90   72  74  69   93
5   86   91  66  94   55
6   87   64  61  79  100
7   68   98  70  87   67
8   94   82  60  71   80
9   60  100  78  86   55
10  80   56  78  64   97
11  74   83  83  62   70
12  51   66  87  68  100
13  83   88  52  88   58
14  56   64  68  75  100
15  80   86  62  63   60
16  60   86  70  77   51
17  50   69  66  65   78
18  53   61  68  63   73
19  88   54  54  60   58

In [18]:
def fun5(s):
    return pd.Series([s.max(),s.min(),s.median(),s.mean(),s.std()],
                     index=["最高分","最低分","中間值","平均","標準差"])
students_frame.apply(fun5)

            國文          英文         數學         地理          歷史
最高分  95.000000  100.000000  92.000000  94.000000  100.000000
最低分  50.000000   54.000000  52.000000  60.000000   51.000000
中間值  81.500000   77.000000  70.000000  72.500000   71.500000
平均   75.900000   76.550000  72.100000  73.800000   74.500000
標準差  15.535697   14.587215  11.447362  10.556116   17.409919